/* Add this style to adjust the college logo */
#collegeLogo {
    width: 100px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-right: 10px; /* Add some margin to the right of the logo */
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    width: 100%;
    box-sizing: border-box;
}

#form-section {
    text-align: center;
}

form {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
    width: 70%; /* Adjust the width as needed */
    margin: 20px auto;
}

button {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}

li:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}
